body {
    padding: 20px;
}

.person-detail-header {
    padding-bottom: 20px;
}

.person-detail-header p {
    margin: 0px;
}

.person-detail-header span {
    font-size: 18px;
}

.person-detail-separator {
    background-color: #d7d7d7;
    padding: 5px;
}

.person-detail-project {
    padding: 10px;
}

.persons {
    list-style: none;
}

.persons li {
    clear: both;
    padding-top: 5px;
}

.persons li h4 {
    margin-top: 5px;
    margin-bottom: 0px;
}

.persons li p {
    margin: 0px;
}

.input-group {
    margin: 0px;
}

.search-form {
    transition: all linear 0.5s;
    background: transparent;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.draggableTag ul[dnd-list] {
    min-height: 30px;
    padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.draggableTag ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.draggableTag ul[dnd-list] .dndPlaceholder {
    background-color: #ddd;
    display: inline-block;
    height: 32px;
    width: 50px;
    margin-bottom: -10px;
}

.draggableTag ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 24px;
    padding: 0px 12px;
    margin-bottom: -1px;
    font-size: 15px;
    height: 32px;
    display: inline-block;
    line-height: 32px;
    text-align: justify;
}

.tag-list {
    display: inline-flex;
}

.tag-list span {
    padding: 5px;
    font-size: 18px;
}
