body {
    padding: 20px;
}

.person-detail-header {
    border-bottom: 1px solid gray;
}

.person-detail-header p {
    margin: 0px;
}

.persons {
    list-style: none;
}

.persons li {
    clear: both;
    padding-top: 5px;
}

.persons li h4 {
    margin-top: 5px;
    margin-bottom: 0px;
}

.persons li p {
    margin: 0px;
}

.my-form {
    transition: all linear 0.5s;
    background: transparent;
}