body {
    padding: 20px;
}

.person-detail-header {
    padding-bottom: 20px;
}

.person-detail-header p {
    margin: 0px;
}

.person-detail-separator {
    background-color: #d7d7d7;
    padding: 5px;
}

.person-detail-project {
    padding: 10px;
}

.persons {
    list-style: none;
}

.persons li {
    clear: both;
    padding-top: 5px;
}

.persons li h4 {
    margin-top: 5px;
    margin-bottom: 0px;
}

.persons li p {
    margin: 0px;
}

.search-form {
    transition: all linear 0.5s;
    background: transparent;
}