<div class="flex-container">
    <div class="flex-inner">
        <div ng-if="!$ctrl.editFlag" class="person-detail-header">
            <h3>{{$ctrl.person.name}}<a href="" ng-click="$ctrl.toggleEditFlag()">
                <span class="glyphicon glyphicon-pencil"></span>
            </a></h3>
            <p>{{$ctrl.person.email}}</p>
            <p>{{$ctrl.person.birthDate}}</p>
            <p>{{$ctrl.person.position}}</p>
            <p>{{$ctrl.person.department}}</p>
        </div>

        <!--for edit-->

        <div class="person-detail-header" ng-if="$ctrl.editFlag">
            <form name="personDetail" class="form-horizontal" ng-submit="$ctrl.submit(personDetail)">
                <div class="flex-container">
                    <div>
                        <input required type="text" ng-model="$ctrl.person.name"
                               placeholder="name" class="form-control">
                    </div>
                </div>
                <div class="flex-container">
                    <div>
                        <input required type="email" ng-model="$ctrl.person.email"
                               placeholder="email" class="form-control">
                    </div>
                </div>
                <div class="flex-container">
                    <div>
                        <input type="text" ng-model="$ctrl.person.dt" class="form-control"
                               uib-datepicker-popup is-open="$ctrl.popup.opened"
                               datepicker-popup-template-url="templates/datepopup-template.html"
                               datepicker-options="$ctrl.dateOptions" close-text="Close"/>
                    </div>
                    <div>
                        <button type="button" class="btn btn-default" ng-click="$ctrl.open()"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                    </div>
                </div>
                <div class="flex-container">
                    <div>
                        <input type="text" ng-model="$ctrl.person.position"
                               placeholder="position" class="form-control"required>
                    </div>
                </div>
                <div class="flex-container">
                    <div>
                        <input type="text" ng-model="$ctrl.person.department"
                               placeholder="department" class="form-control" required>
                    </div>
                </div>
                <div class="flex-container">
                    <div>
                        <button type="submit" ng-disabled="personDetail.$invalid || personDetail.$pristine"
                                class="btn btn-primary">Save
                        </button>
                        <button ng-if="!$ctrl.isNew" type="button" class="btn" ng-disabled="personDetail.$pristine"
                                ng-click="$ctrl.reset(personDetail)">Reset
                        </button>
                        <button ng-if="!$ctrl.isNew" type="button" class="btn" ng-disabled="!personDetail.$pristine"
                                ng-click="$ctrl.cancel()">Back
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>