<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4 class="person-detail-separator">PROFESSIONAL EXPERIENCE
                <a href="" ng-click="$ctrl.addCompany()" ng-if="!$ctrl.edit">
                                    <span class="glyphicon glyphicon-plus">
                                    </span>
                </a>
            </h4>
            <div class="row" ng-repeat="(companyKey, value) in $ctrl.personCompanies">
                <!-- view company-->
                <div class="col-md-12" ng-if="!value.editCompanyFlag">
                    <div class="row">
                        <div class="col-md-4 person-company-project">
                        <span><b>{{value.name}}</b>
                            <a href="" ng-click="$ctrl.toggleEditCompany(companyKey)">
                                    <span class="glyphicon glyphicon-pencil">
                                    </span>
                                </a></span>
                            <br/>
                            <span>{{value.startDate}} -
                                {{value.endDate == null ? "now" : value.endDate}}
                        </span>
                        </div>
                    </div>
                    <div ng-repeat="(key, project) in value.projects">
                        <div class="row">
                            <div class="col-md-12">
                            <span><b>{{project.position}}</b>
                            </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <span>{{project.description}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <span>Responsibilities:</span>
                            </div>
                            <div class="col-md-10">
                                <span>{{project.responsibility}}</span>
                            </div>
                        </div>
                        <div class="row draggableTag">
                            <div class="col-md-2">
                                <span>Environment:</span>
                            </div>
                            <div class="col-md-10">
                                <ul dnd-list="project.environment"
                                    dnd-allowed-types="[project.description]"
                                    dnd-disable-if="true">
                                    <li ng-repeat="skill in project.environment"
                                        dnd-type="project.description"
                                        dnd-draggable="skill"
                                        dnd-moved="project.environment.splice($index, 1)"
                                        dnd-effect-allowed="move">
                                        {{skill}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <span>Project results:</span>
                            </div>
                            <div class="col-md-10">
                                <span>{{project.result}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- view company-->

                <!-- edit company-->
                <div class="row" ng-if="value.editCompanyFlag">
                    <form name="personCompany" class="col-md-12"
                          ng-submit="$ctrl.submit(personCompany)">
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" class="form-control" ng-model="value.name"
                                       required placeholder="Company name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <p class="input-group">
                                    <input type="text" ng-model="value.startDt"
                                           class="form-control" placeholder="First day"
                                           uib-datepicker-popup is-open="value.startOpened"
                                           datepicker-popup-template-url="templates/datepopup-template.html"
                                           datepicker-options="$ctrl.dateOptions" close-text="Close"/>
                                    <span class="input-group-btn">
                                    <button type="button" class="btn btn-default"
                                            ng-click="$ctrl.open(value.id, 'start')"><i
                                            class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                                <p class="input-group">
                                    <input type="text" ng-model="value.endDt"
                                           class="form-control" placeholder="Last day"
                                           uib-datepicker-popup is-open="value.endOpened"
                                           datepicker-popup-template-url="templates/datepopup-template.html"
                                           datepicker-options="$ctrl.dateOptions" close-text="Close"/>
                                    <span class="input-group-btn">
                                    <button type="button" class="btn btn-default"
                                            ng-click="$ctrl.open(value.id, 'end')"><i
                                            class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div ng-repeat="(projectKey, project) in value.projects">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" ng-model="project.position"
                                               placeholder="position"
                                               class="form-control" required
                                        >
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                <textarea placeholder="Description" ng-model="project.description"
                                          class="form-control">
                                </textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <span>Responsibilities:</span>
                                    </div>
                                    <div class="col-md-8">
                                <textarea ng-model="project.responsibility" class="form-control">
                                </textarea>
                                    </div>
                                </div>
                                <div class="row draggableTag">
                                    <div class="col-md-2">
                                        <span>Environment:</span>
                                    </div>
                                    <div class="col-md-10 tag-list">
                                        <ul dnd-list="project.environment"
                                            dnd-allowed-types="[projectKey]"
                                            dnd-disable-if="false">
                                            <li ng-repeat="skill in project.environment"
                                                dnd-type="projectKey.toString(10)"
                                                dnd-draggable="skill"
                                                dnd-moved="project.environment.splice($index, 1);personCompany.$setDirty()"
                                                dnd-effect-allowed="move">{{skill}}
                                                <a href=""
                                                   ng-click="$ctrl.removeSkill(skill, companyKey, projectKey, personCompany)">
                                                    <span class="glyphicon glyphicon-remove tag-list-remove"></span>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="form-group" ng-if="project.addSkillFlag">
                                            <div class="col-md-6">
                                                <input type="text" ng-model="project.newSkill" placeholder="skill"
                                                       uib-typeahead="skill as skill.name for skill in $ctrl.getSkill($viewValue, companyKey, projectKey)"
                                                       typeahead-loading="loadingSkill" class="form-control"
                                                       typeahead-min-length="0"
                                                >
                                            </div>
                                            <div class="col-md-2">
                                                <button type="button" class="btn btn-success"
                                                        ng-disabled="project.newSkill < 1"
                                                        ng-click="$ctrl.addNewSkill(project.newSkill, companyKey, projectKey, personCompany)">
                                                    OK
                                                </button>
                                            </div>
                                            <div class="col-md-2">
                                                <button type="button" class="btn"
                                                        ng-click="$ctrl.toggleNewSkill(companyKey, projectKey)">Cancel
                                                </button>
                                            </div>
                                            <div class="col-md-2" ng-show="loadingSkill"><i
                                                    class="glyphicon glyphicon-refresh"></i>
                                            </div>
                                        </div>
                                        <div ng-if="!project.addSkillFlag" class="">
                                            <a href="" ng-click="$ctrl.toggleNewSkill(companyKey, projectKey)">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <span>Project results:</span>
                                    </div>
                                    <div class="col-md-8">
                                <textarea ng-model="project.result" class="form-control">
                                </textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <button type="button" class="btn btn-danger"
                                                ng-click="$ctrl.deleteProject(companyKey, projectKey, personCompany)">Delete project
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8">
                                <button type="button" class="btn" ng-disabled="!personCompany.$pristine"
                                        ng-if="value.editCompanyFlag"
                                        ng-click="$ctrl.toggleEditCompany(companyKey)">Back
                                </button>
                                <button type="button" class="btn btn-success" ng-if="value.editCompanyFlag"
                                        ng-click="$ctrl.addProject(companyKey)">Add project
                                </button>
                                <button type="button" class="btn btn-danger" ng-if="value.editCompanyFlag"
                                        ng-click="$ctrl.deleteCompany(companyKey, personCompany)">Delete company
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- edit company-->
            </div>
            <div class="row">
                <div class="col-md-8">
                    <button type="button" class="btn btn-primary"
                            ng-if="$ctrl.edit"
                            ng-click="$ctrl.submit()">Save
                    </button>
                    <button type="button" class="btn"
                            ng-if="$ctrl.edit"
                            ng-click="$ctrl.resetCompany()">Reset
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>