<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->
            <div class="row">
                <form name="searchForm" class="search-form" ng-submit="$ctrl.submit()">
                    Search: <input type="text" name="query" ng-model="$ctrl.query">
                    <input type="submit" value="Find" id="findId"/>
                </form>
            </div>
            <div class="row top-buffer">
                <button type="button" ng-click="$ctrl.addNewPerson()" class="btn btn-success">Add new person</button>
            </div>
        </div>
        <div ng-if="!$ctrl.addNewPersonFlag" class="col-md-10 animate">
            <!--body content-->
            <ul uib-pagination
                total-items="$ctrl.totalItems" ng-model="$ctrl.currentPage"
                max-size="$ctrl.maxSize" items-per-page="$ctrl.itemsPerPage"
                boundary-links="true" force-ellipses="true" ng-change="$ctrl.pageChanged()"
                class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                last-text="&raquo;">
            </ul>
            <ul class="persons">
                <li class="animate" ng-repeat="person in $ctrl.persons">
                    <a href="#!/person/{{person.id}}">
                        <h4>{{person.name}}</h4></a>
                    <p>{{person.birthDate}}</p>
                    <p>{{person.position.name}}</p>
                    <p>{{person.department.name}}</p>
                </li>
            </ul>
        </div>
    </div>
    <div ng-if="$ctrl.addNewPersonFlag" class="row top-buffer animate">
        <person-detail new="true"></person-detail>
    </div>
</div>