<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->
            <form name="searchForm" class="my-form" ng-submit="$ctrl.submit()">
                Search: <input type="text" name="query" ng-model="$ctrl.query">
                <input type="submit" value="Find" id="findId"/>
            </form>
        </div>
        <div class="col-md-10">
            <!--body content-->
            <ul uib-pagination
                total-items="$ctrl.totalItems" ng-model="$ctrl.currentPage"
                max-size="$ctrl.maxSize" items-per-page="$ctrl.itemsPerPage"
                boundary-links="true" force-ellipses="true" ng-change="$ctrl.pageChanged()"
                class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                last-text="&raquo;">
            </ul>
            <ul class="persons">
                <li class="person-list-item" ng-repeat="person in $ctrl.persons">
                    <a href="#!/persons/{{person.id}}">
                        <h4>{{person.name}}</h4></a>
                    <p>{{person.birthDate}}</p>
                    <p>{{person.position.name}}</p>
                    <p>{{person.department.name}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>