<script type="text/ng-template" id="datepopup-template.html">
    <ul role="presentation" class="uib-datepicker-popup dropdown-menu uib-position-measure" dropdown-nested
        ng-if="isOpen" ng-keydown="keydown($event)" ng-click="$event.stopPropagation()">
        <li ng-transclude></li>
        <li ng-if="showButtonBar" class="uib-button-bar">
    <span class="btn-group pull-left">
      <button type="button" class="btn btn-sm btn-danger uib-clear" ng-click="select(null, $event)">{{ getText('clear') }}</button>
    </span>
            <button type="button" class="btn btn-sm btn-success pull-right uib-close" ng-click="close($event)">{{
                getText('close') }}
            </button>
        </li>
    </ul>
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div ng-if="!$ctrl.editFlag" class="person-detail-header">
                <h3>{{$ctrl.person.name}}<a href="" ng-click="$ctrl.toggleEditFlag()">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a></h3>
                <p>{{$ctrl.person.birthDate}}</p>
                <p>{{$ctrl.person.position.name}}</p>
                <p>{{$ctrl.person.department.name}}</p>
            </div>

            <!--for edit-->

            <div class="col-md-4" ng-if="$ctrl.editFlag" class="person-detail-header">
                <form name="personDetail" class="form-horizontal" ng-submit="$ctrl.submit(personDetail)">
                    <div class="form-group">
                        <div class="col-md-8">
                            <input required type="text" ng-model="$ctrl.person.name" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8">
                            <p class="input-group">
                                <input type="text" ng-model="$ctrl.person.dt" class="form-control"
                                       required
                                       uib-datepicker-popup is-open="$ctrl.popup.opened"
                                       datepicker-popup-template-url="datepopup-template.html"
                                       datepicker-options="$ctrl.dateOptions" ng-required="true" close-text="Close"/>
                                <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="$ctrl.open()"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8">
                            <input type="text" ng-model="$ctrl.person.position"
                                   placeholder="position"
                                   uib-typeahead="position as position.name for position in $ctrl.getPosition($viewValue)"
                                   typeahead-loading="loadingPositions"
                                   class="form-control"
                                   typeahead-min-length="0"
                                   required
                            >
                        </div>
                        <div class="col-md-4" ng-show="loadingPositions"><i class="glyphicon glyphicon-refresh"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8">
                            <input type="text" ng-model="$ctrl.person.department"
                                   placeholder="department"
                                   uib-typeahead="department as department.name for department in $ctrl.getDepartment($viewValue)"
                                   typeahead-loading="loadingDepartments"
                                   class="form-control"
                                   typeahead-min-length="0"
                                   required
                            >
                        </div>
                        <div class="col-md-4" ng-show="loadingDepartments"><i class="glyphicon glyphicon-refresh"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8">
                            <button type="submit" ng-disabled="personDetail.$pristine"
                                    class="btn btn-primary">Save
                            </button>
                            <button class="btn" ng-disabled="personDetail.$pristine"
                                    ng-click="$ctrl.reset(personDetail)">Reset
                            </button>
                            <button class="btn" ng-disabled="personDetail.$invalid || !personDetail.$pristine"
                                    ng-click="$ctrl.cancel()">Back
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>