<div class="flex-container">
    <div class="flex-outer">
        <!--Sidebar content-->
        <div class="flex-inner">
            <form name="searchForm" class="search-form" ng-submit="$ctrl.submit()">
                <div>Find:</div>
                <div><input type="text" name="query" ng-model="$ctrl.query"></div>
                <div><input type="submit" value="Search" class="btn btn-info" id="findId"/></div>
            </form>
        </div>
        <div class="flex-inner">
            <div>
                <button type="button" ng-click="$ctrl.addNewPerson()" class="btn btn-success">Add new person</button>
            </div>
        </div>
    </div>
    <div class="flex-outer">
        <div ng-if="!$ctrl.addNewPersonFlag" class="flex-inner">
            <!--body content-->
            <ul uib-pagination
                total-items="$ctrl.totalItems" ng-model="$ctrl.currentPage"
                max-size="$ctrl.maxSize" items-per-page="$ctrl.itemsPerPage"
                boundary-links="true" force-ellipses="true" ng-change="$ctrl.pageChanged()"
                class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                last-text="&raquo;">
            </ul>
            <ul class="persons">
                <li class="" ng-repeat="person in $ctrl.persons">
                    <a href="#!/person/{{person.id}}">
                        <h4>{{person.name}}</h4></a>
                    <p>{{person.email}}</p>
                    <p>{{person.birthDate}}</p>
                    <p>{{person.position.name}}</p>
                    <p>{{person.department.name}}</p>
                </li>
            </ul>
        </div>
        <div ng-if="$ctrl.addNewPersonFlag" class="flex-inner">
            <person-detail new="true"></person-detail>
        </div>
    </div>
</div>