<div class="container-fluid">
    <div class="row">
        <div ng-if="!$ctrl.editFlag" class="col-md-12 animate">
            <h4 class="person-detail-separator">SKILLS SUMMARY<a href="" ng-click="$ctrl.toggleEditFlag()">
                <span class="glyphicon glyphicon-pencil"></span>
            </a></h4>
            <div ng-repeat="(listName, list) in $ctrl.models.lists" class="row draggableTag">
                <div class="col-md-2">
                    <span>{{listName}}</span>
                </div>
                <div class="col-md-6">
                    <ul dnd-list="list.skills"
                        dnd-allowed-types="[list.type]"
                        dnd-disable-if="true">
                        <li ng-repeat="skill in list.skills" dnd-type="list.type"
                            dnd-draggable="skill" dnd-moved="list.skills.splice($index, 1)"
                            dnd-effect-allowed="move">{{skill.skillName}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--for edit-->

        <div ng-if="$ctrl.editFlag" class="col-md-12 animate">
            <h4 class="person-detail-separator">SKILLS SUMMARY</h4>
            <form name="personSkills" class="form-horizontal" ng-submit="$ctrl.submit(personSkills)">
                <div ng-repeat="(listName, list) in $ctrl.models.lists" class="row draggableTag">
                    <div class="col-md-2">
                        <span>{{listName}}</span>
                    </div>
                    <div class="col-md-10 tag-list">
                        <ul dnd-list="list.skills"
                            dnd-allowed-types="[list.type]"
                            dnd-disable-if="false">
                            <li ng-repeat="skill in list.skills" dnd-type="list.type"
                                dnd-draggable="skill" dnd-moved="list.skills.splice($index, 1);personSkills.$setDirty()"
                                dnd-effect-allowed="move">{{skill.skillName}}
                                <a href="" ng-click="$ctrl.removeSkill(skill.skillName, listName, personSkills)">
                                    <span class="glyphicon glyphicon-remove tag-list-remove"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="form-group animate" ng-if="list.addSkillFlag">
                            <div class="col-md-6">
                                <input type="text" ng-model="list.newSkill" placeholder="skill"
                                       uib-typeahead="skill as skill.name for skill in $ctrl.getSkill($viewValue, listName)"
                                       typeahead-loading="loadingSkill" class="form-control" typeahead-min-length="0"
                                >
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-success" ng-disabled="list.newSkill < 1"
                                        ng-click="$ctrl.addNewSkill(list.newSkill, listName, personSkills)">OK
                                </button>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn"
                                        ng-click="$ctrl.toggleNewSkill(listName)">Cancel
                                </button>
                            </div>
                            <div class="col-md-2" ng-show="loadingSkill"><i class="glyphicon glyphicon-refresh"></i>
                            </div>
                        </div>
                        <div class="animate" ng-if="!list.addSkillFlag">
                            <a href="" ng-click="$ctrl.toggleNewSkill(listName)">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-8">
                        <button type="submit" ng-disabled="personSkills.$pristine"
                                class="btn btn-primary">Save
                        </button>
                        <button type="button" class="btn" ng-disabled="personSkills.$pristine"
                                ng-click="$ctrl.reset(personSkills)">Reset
                        </button>
                        <button type="button" class="btn" ng-disabled="!personSkills.$pristine"
                                ng-click="$ctrl.cancel()">Back
                        </button>
                        <div class="btn-group" uib-dropdown>
                            <button id="row-button" type="button" class="btn btn-primary" uib-dropdown-toggle
                                    ng-disabled="$ctrl.rows.length == 0">
                                Add skills summary<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                <li ng-repeat="row in $ctrl.rows" role="menuitem">
                                    <button type="button" class="btn dropdown-btn" ng-click="$ctrl.addRow(row)">
                                        {{row.name}}
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>