<div class="container-fluid">
    <div class="row">
        <div ng-if="!$ctrl.editFlag" class="col-md-12">
            <h4 class="person-detail-separator">SKILLS SUMMARY<a href="" ng-click="$ctrl.toggleEditFlag()">
                <span class="glyphicon glyphicon-pencil"></span>
            </a></h4>
            <div ng-repeat="(listName, list) in $ctrl.models.lists" class="row draggableTag">
                <div class="col-md-2">
                    <span>{{listName}}</span>
                </div>
                <div class="col-md-6">
                    <ul dnd-list="list.skills"
                        dnd-allowed-types="[list.type]"
                        dnd-disable-if="true">
                        <li ng-repeat="skill in list.skills"
                            dnd-type="list.type"
                            dnd-draggable="skill"
                            dnd-moved="list.skills.splice($index, 1)"
                            dnd-effect-allowed="move">
                            {{skill.skillName}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--for edit-->

        <div ng-if="$ctrl.editFlag" class="col-md-12">
            <h4 class="person-detail-separator">SKILLS SUMMARY</h4>
            <div ng-repeat="(listName, list) in $ctrl.models.lists" class="row draggableTag">
                <div class="col-md-2">
                    <span>{{listName}}</span>
                </div>
                <div class="col-md-6">
                    <ul dnd-list="list.skills"
                        dnd-allowed-types="[list.type]"
                        dnd-disable-if="true">
                        <li ng-repeat="skill in list.skills"
                            dnd-type="list.type"
                            dnd-draggable="skill"
                            dnd-moved="list.skills.splice($index, 1)"
                            dnd-effect-allowed="move">
                            {{skill.skillName}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>